.block-cta {
    &__content p {
        font-size: 1.75rem;
        font-weight: 700;
        text-align: center;
    }

    &__btn {
        margin-top: 1rem;
        text-align: center;
    }
}

@include media-breakpoint-up(md) {
    .block-cta {
        &__content p {
            font-size: 3rem;
            text-align: center;
        }

        &__btn {
            text-align: left;
            margin-top: 0;
        }
    }
}
