footer {
    background: $color-background-dark;
    margin-top: 1rem;

    p, address, a, span {
        color: $color-secondary;
    }

}

.footer-primary__contact a {
    text-decoration: underline;
}

.footer-logo {
    padding-top: 0;
    width: 8rem;
    background: $color-background-white;
}

.footer-primary__social {
    a, a:hover {
        text-decoration: none;
    }
    img {
        transition: all .2s ease-in-out;
    }
    img:hover {
        transform: scale(1.15);
    }
}

.footer-secondary {
    border-top: 1px solid $color-secondary;
    margin-top: 1rem;
    padding-top: 2rem;

    li {
        display: inline-block;
        margin-right: 1rem;
    }

    a {
        text-decoration: underline;
    }
}
