.hero-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 6.5175625rem;

    &__content {
        background-color: rgba($color-background-white, .5);
        padding: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;

        & > h1 {
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 700;
        }

        & p {
            color: $color-text-light;
        }
    }
}

.hero-section--secondary {
    height: 65vh;
}

.arrow {
    position: absolute;

    &--right {
    width: 4rem;
    bottom: 2rem;
    right: -1rem;
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
    }

    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translate(-100%, 0);
      }
      40% {
        transform: translate(-60%, 0);
      }
      60% {
        transform: translate(-60%, 0);
      }
    }

    &--down {
        transform: rotate(90deg);
        width: 2.5rem;
        right: 1rem;
        bottom: 1rem;
        animation: move-arrow 3s ease-out 1s infinite;
    }
    @keyframes move-arrow {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0) rotate(90deg);
      }
      40% {
        transform: translateY(-30px) rotate(90deg);
      }
      60% {
        transform: translateY(-15px) rotate(90deg);
      }
    }
}

@include media-breakpoint-up(lg) {
    .hero-section--secondary .hero-section__content {
        & > h1 {
            font-size: 4rem;
        }

        & p {
            font-size: 1rem;
        }
    }

// CSS changes because of different background image - used page ID from WordPress
.page-id-72 .hero-section h1,
.page-id-72 .hero-section p,
.page-id-84 .hero-section h1,
.page-id-84 .hero-section p,
.page-id-104 .hero-section h1 {
	color: #fefefe;
}

.page-id-26 .hero-section h1,
.page-id-26 .hero-section p {
	color: #fefefe;
}
}

@include media-breakpoint-up(xl) {
    .hero-section__content {
        background-color: transparent;

        & > h1 {
            font-size: 5rem;
        }

        & p {
            font-size: 1.25rem;
        }

        & .btn {
            margin-top: .5rem;
        }
    }
}
