// FONTS
$font-body: 'Montserrat', sans-serif;

// COLORS
$color-primary: #191919;
$color-secondary: #f9f9f9;

$color-background-white: #fefefe;
$color-background-light: #f9f9f9;
$color-background-medium: #e6e7e0;
$color-background-dark: #191919;
$color-background-grey: #6e6f6b;

$color-text-dark: #191919;
$color-text-light: rgba(#191919, .8);
